.bloodSection {
    width: 350px;
    height: 200px;
    margin: 20px 0;
    border: 2px solid red;   
    border-radius: 20px;
}

.bloodContainer {
    display: flex;
    flex-direction: column;
}

.blood1 {
    display: flex;

}
 .logo1 {
    max-width: 80px;
    padding: 10px;
 }

 .buttonCont {
    display: flex;
    justify-content: center;
 }

 .button1 {
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    background-color:rgba(255, 0, 0, 0.392);
    border: 1px solid red;
    padding: 5px 8px;
    cursor: pointer;
 }

 .button1:hover {
    background-color:rgba(255, 0, 0, 0.699);
 }


/* Tablet */
@media only screen and (min-width: 768px) {
    
  .bloodSection {
    width: 500px;
  }

  .blood1 {
    justify-content: center;
  }

}


/* Desktop */
@media only screen and (min-width: 1280px) {

    .bloodSection {
        width: 700px;
      }

}